*.user
*Makefile
*Makefile.in
aclocal.m4
am
*.cache
build
*.guess
config.h
config.h.in
*~
*.log
config.lt
config.status
config.sub
configure
depcomp
dependencies.m4
*Doxyfile
*Doxyfile.in
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.deps
*.orig
*.tmp
demos
*.param
*.vtu
*.pc
build-*
