CMakeLists.txt.user
Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
build
config.guess
config.h
config.h.in
config.h.in~
config.log
config.lt
config.status
config.sub
configure
depcomp
dependencies.m4
doc/Makefile
doc/Makefile.in
doc/doxygen/Doxyfile
doc/doxygen/Doxyfile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
dune/Makefile
dune/Makefile.in
dune/fem/Makefile
dune/fem/Makefile.in
dune/fem/functional/Makefile
dune/fem/functional/Makefile.in
examples/Makefile
examples/Makefile.in
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
missing
stamp-h1
tests/Makefile
tests/Makefile.in
tests/l2functional/.deps
tests/l2functional/Makefile
tests/l2functional/Makefile.in
examples/poisson_new/.deps
doc/latex/dune-fem-functionals.pdf
tests/common/.deps/
tests/operator/.deps/
CMakeLists.txt.user.2.1pre1
CMakeLists.txt.user.2.3pre1
examples/finite_element_local_operation/.deps
examples/finite_element_local_operation/finite_element_local_operation
examples/finite_element_local_operation/finite_element_local_operation-finite_element_local_operation.o
doc/doxygen/doxyerr.log
doc/doxygen/doxygen-tag
doc/doxygen/doxygen.log
doc/doxygen/html
examples/elliptic_finite_element/.deps
examples/elliptic_finite_element/elliptic_finite_element
examples/elliptic_finite_element/elliptic_finite_element-main.o
examples/elliptic_finite_element/boundaryData.vtp
doc/latex/dune-functionals.pdf
*.orig
*.tmp
dune-detailed-discretizations.pc
examples/elliptic_discontinuous_galerkin/.deps
examples/elliptic_discontinuous_galerkin/elliptic_discontinuous_galerkin
examples/elliptic_discontinuous_galerkin/elliptic_discontinuous_galerkin-main.o
examples/elliptic_finite_element/solution.vtp
examples/elliptic_finite_element/solution.vtu
CMakeLists.txt
CMakeLists.txt.user*
*.deps
examples/elliptic/continuous_galerkin
examples/elliptic/continuous_galerkin-continuous_galerkin.o
demos
*.param
*.vtu
