CMakeLists.txt.user
Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
build
config.guess
config.h
config.h.in
config.h.in~
config.log
config.lt
config.status
config.sub
configure
depcomp
dependencies.m4
doc/Makefile
doc/Makefile.in
doc/doxygen/Doxyfile
doc/doxygen/Doxyfile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
dune-fem-functionals.pc
dune/Makefile
dune/Makefile.in
dune/fem/Makefile
dune/fem/Makefile.in
dune/fem/functional/Makefile
dune/fem/functional/Makefile.in
examples/Makefile
examples/Makefile.in
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
missing
src/.deps
src/Makefile
src/Makefile.in
stamp-h1
tests/Makefile
tests/Makefile.in
tests/l2functional/.deps
tests/l2functional/Makefile
tests/l2functional/Makefile.in
examples/poisson_new/.deps
src/dune_fem_functionals
src/dune_fem_functionals-dune_fem_functionals.o
tests/functional/.deps
tests/functional/l2functional_test
tests/functional/l2functional_test-l2functional_test.o
tests/functional/discretelinearfunctional_test
tests/functional/discretelinearfunctional_test-discretelinearfunctional_test.o
tests/functional/ltwofunctional_test
tests/functional/ltwofunctional_test-ltwofunctional_test.o
doc/latex/dune-fem-functionals.pdf
examples/finite_element/.deps/
examples/finite_element/test
examples/finite_element/test-main.o
tests/common/.deps/
tests/operator/.deps/
CMakeLists.txt.user.2.1pre1
CMakeLists.txt.user.2.3pre1
examples/finite_element_local_operation/.deps
examples/finite_element_local_operation/finite_element_local_operation
examples/finite_element_local_operation/finite_element_local_operation-finite_element_local_operation.o
tests/common/localbasefunction_test
tests/common/localbasefunction_test-localbasefunction_test.o
tests/operator/ellipticfiniteelementoperator_test
tests/operator/ellipticfiniteelementoperator_test-ellipticfiniteelementoperator_test.o
examples/finite_element/solution.vtu
