# This file is part of the dune-gdt project:
#   https://github.com/dune-community/dune-gdt
# Copyright 2010-2016 dune-gdt developers and contributors. All rights reserved.
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
# Authors:
#   Felix Schindler (2016)

sudo: required
dist: trusty
language: generic

addons:
  apt:
    sources: &commonsources
    packages: &commonpackages
    - gfortran
    - cmake
    - cmake-data
    - doxygen
    - texlive-base
    - python-virtualenv
    - python3-pytest
    - python-pytest
    - libboost1.55-all-dev
    - python-pip
    - libtbb-dev
    - ccache
    - libsuitesparse-dev
    - lcov
    - curl
    - ninja-build
    - python3-requests

before_install:
  - |-
    : ${OPTS:="config.opts/travis.ninja"} && export OPTS
  # workaround for https://github.com/travis-ci/travis-ci/issues/5285
  - sudo -E apt-get install -y -q python-pip python3-pip libscotchparmetis-dev libmetis-dev
  - sudo -E pip3 install -U requests virtualenv cpp-coveralls
  - sudo -E pip install -U requests virtualenv cpp-coveralls
  - export PATH=/usr/lib/ccache:$PATH
  - cd $HOME
  - test -d src || git clone https://github.com/dune-community/dune-gdt-super.git src
  - cd $HOME/src
  - git checkout xt+core_2.4_switchover
  - git submodule update --init --recursive
  - git submodule status
  # our local scripts look for an OPTS env entry
  - ./local/bin/download_external_libraries.py
  - ./local/bin/build_external_libraries.py
  # ensures ${MY_MODULE} from travis own checkout is used
  - echo removing modules ${MODULES_TO_DELETE}
  - rm -rf ${MODULES_TO_DELETE} ${MY_MODULE}

# command to install dependencies
install:
  - cd $HOME/src
  #- export INST_DCTRL=$HOME/dune/bin/dunecontrol
  - export SRC_DCTRL=$PWD/dune-common/bin/dunecontrol
  - ${SRC_DCTRL} ${BLD} all
  # move my travis checkout into this source tree
  - cp -ra ${TRAVIS_BUILD_DIR} .

before_script:
    - $HOME/src/.travis/add_swap.sh
    - ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} configure
    - if [[ "x${TESTS}" != "xheadercheck" ]]; then ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make; fi
    - if [[ "x${TESTS}" != "xheadercheck" ]]; then travis_wait ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make test_binaries_${TESTS}; fi

script:
    - if [[ "x${TESTS}" != "xheadercheck" ]]; then travis_wait ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} bexec ctest -j 2 -R ${TESTS//_/.+}; fi
    - if [[ "x${TESTS}" == "xheadercheck" ]]; then ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make headercheck; fi
    - $HOME/src/.travis/init_sshkey.sh ${encrypted_95fb78800815_key} ${encrypted_95fb78800815_iv} keys/dune-community/dune-gdt-testlogs
    # retry this step because of the implicated race condition in cloning and pushing with multiple builder running in parallel
    - if [[ "x${TESTS}" != "xheadercheck" ]]; then travis_retry $HOME/src/scripts/bash/travis_upload_test_logs.bash $HOME/src/${MY_MODULE}/${DUNE_BUILD_DIR}/dune/gdt/test/; fi
    - ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make install | grep -v "Installing"
    - ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make package_source

# runs independent of 'script' failure/success
after_script:
    - |
     if [ "x${CLANG_FORMAT}" != "x" ] ; then
        git config --global hooks.clangformat ${CLANG_FORMAT}
        PYTHONPATH=$HOME/src/scripts/python/ python3 -c "import travis_report as tp; tp.clang_format_status(\"${TRAVIS_BUILD_DIR}\")"
     fi
    - |
      if [[ $TRAVIS_JOB_NUMBER == *.1 ]] ; then
        ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make doc
        $HOME/src/.travis/init_sshkey.sh ${encrypted_95fb78800815_key} ${encrypted_95fb78800815_iv} keys/dune-community/dune-community.github.io
        $HOME/src/.travis/deploy_docs.sh ${MY_MODULE} ${DUNE_BUILD_DIR}
      fi
    # reset for ctest
    - ${SRC_DCTRL} ${BLD} --only=${MY_MODULE} make clean
    - export CTEST_ARG="--output-on-failure -S ${TRAVIS_BUILD_DIR}/.travis.ctest"
    # ctest errors on coverage gathering, this should NOT fail our entire build
    #- ${SRC_DCTRL} ${DCTRL_ARG} --only=${MY_MODULE} bexec ctest ${CTEST_ARG} || echo "CTest Failed"

notifications:
  email:
    on_success: change
    on_failure: change
  webhooks:
    - https://buildtimetrend.herokuapp.com/travis

branches:
  except:
    - gh-pages

cache:
  directories:
    - $HOME/.ccache

env:
  global:
    - BASEDIR=$HOME/src
    - PATH=${BASEDIR}/local/bin:$PATH
    - LD_LIBRARY_PATH=${BASEDIR}/local/lib64:${BASEDIR}/local/lib:$LD_LIBRARY_PATH
    - PKG_CONFIG_PATH=${BASEDIR}/local/lib64/pkgconfig:${BASEDIR}/local/lib/pkgconfig:${BASEDIR}/local/share/pkgconfig:$PKG_CONFIG_PATH
    - MY_MODULE=dune-gdt 
    - DUNE_BUILD_DIR=${HOME}/dune_build/ 
    - INSTALL_DIR=$HOME/dune 
    - CTEST_OUTPUT_ON_FAILURE=1
    - DCTL_ARGS="--builddir=${DUNE_BUILD_DIR} --use-cmake"
    - DBG="${DCTL_ARGS} --opts=config.opts/travis.ninja"

matrix:
  include:
#    gcc 4.9
#    - os: linux
#      compiler: gcc
#      addons: &gcc49
#        apt:
#          sources:
#          - *commonsources
#          - 'ubuntu-toolchain-r-test'
#          packages:
#          - *commonpackages
#          - ['g++-4.9', 'gcc-4.9']
#      env: CC=gcc-4.9 TESTS=operator BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=prolongation BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=projection BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=space BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=linearelliptic_cg_discretization_alugrid BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=linearelliptic_cg_discretization_sgrid BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=hyperbolic_fv_discretization_yaspgrid BLD=${DBG} CXX=g++-4.9
#    - os: linux
#      compiler: gcc
#      addons:  *gcc49
#      env: CC=gcc-4.9 TESTS=headercheck BLD=${DBG} CXX=g++-4.9

#   gcc 5
    - os: linux
      addons: &gcc5
        apt:
          sources:
          - *commonsources
          - 'ubuntu-toolchain-r-test'
          packages:
          - *commonpackages
          - ['g++-5', 'gcc-5']
      env: CC=gcc-5 TESTS=operator BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=prolongation_default BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=prolongation_fem BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=prolongation_pdelab BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=projection_default BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=projection_fem BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=projection_pdelab BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=space BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=linearelliptic_cg_discretization_alugrid BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=linearelliptic_cg_discretization_sgrid BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=linearelliptic_swipdg_discretization_alugrid BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=linearelliptic_swipdg_discretization_sgrid BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=linearelliptic_swipdg_estimator_alugrid BLD=${DBG} CXX=g++-5
    - os: linux
      compiler: gcc
      addons:  *gcc5
      env: CC=gcc-5 TESTS=hyperbolic_fv_discretization_yaspgrid BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=other BLD=${DBG} CXX=g++-5
    - os: linux
      addons:  *gcc5
      env: CC=gcc-5 TESTS=headercheck BLD=${DBG} CXX=g++-5

#   clang 3.7
    - os: linux
      compiler: clang
      addons: &clang37
        apt:
          sources:
          - *commonsources
          - ['ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.7']
          packages:
          - *commonpackages
          - ['clang-3.7', 'clang-format-3.7']
      env: CC=clang-3.7 TESTS=operator BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=prolongation_default BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=prolongation_fem BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=prolongation_pdelab BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=projection_default BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=projection_fem BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=projection_pdelab BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=space BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=linearelliptic_cg_discretization_alugrid BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=linearelliptic_cg_discretization_sgrid BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=linearelliptic_swipdg_discretization_alugrid BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=linearelliptic_swipdg_discretization_sgrid BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=linearelliptic_swipdg_estimator_alugrid BLD=${DBG} CXX=clang++-3.7
    - os: linux
      compiler: clang
      addons:  *clang37
      env: CC=clang-3.7 TESTS=hyperbolic_fv_discretization_yaspgrid BLD=${DBG} CXX=clang++-3.7
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=other BLD=${DBG} CXX=clang++-3.7 CLANG_FORMAT='/usr/bin/clang-format-3.7'
    - os: linux
      addons:  *clang37
      env: CC=clang-3.7 TESTS=headercheck BLD=${DBG} CXX=clang++-3.7
